html,body{
	width:100%;
	height:100%;
	background: #fff;
	overflow: hidden;
}


.top-search {
	height: 4.666666rem;
	position: relative;
	z-index: ;
}
.top-search input {
	width: 25rem;
	height:1.5rem;
	line-height: 1.5rem;
	padding: .5rem 0;
	background: #fafafa;
	float:left;
	text-indent: 2.5rem;
	font-size: 1.083333rem;
	border: 1px solid #e6e6e6;
}
.top-search input::-webkit-input-placeholder {
	color: #ccc;
	font-size: 1.083333rem;
}
.top-search a {
	display: block;
	float:right;
	width: 3.75rem;
	height: 2.5rem;
	line-height: 2.5rem;
	color: #fff;
	background: #22C41E;
	text-align: center;
	border-radius: 4px;
}
.top-search img {
	width: 1.083333rem;
	height: 1.083333rem;
	position: absolute;
	left: 2rem;
	top:1.8rem;
}
   .search-result {
   	width: 100%;
   	position: absolute;
   	bottom: 1rem;
   	z-index: 99;
   }
   
   .search-result ul {
   	width: 29.5rem;
   	margin: 0 auto;
   	overflow: hidden;
   }
   
   .search-result li {
   	width: 27.5rem;
   	min-height:5rem;
  	overflow: hidden;
   	background: #fff;
   	border-radius: 0.416666rem;
   	border: 1px solid #e5e5e5;
   	margin-bottom: 1rem;
   	padding: 0.833333rem;
   	clear:both;
   }
   
   .search-result li .left {
   		float: left;
   		width:22rem;
   		overflow: hidden;
   		border-right: 0.083333rem solid #E5E5E5;
   }
   
   .search-result li .left h3 {
	   	font-size: 1.25rem;
	   	color: #333;
	   	line-height:1.5rem;
	   	clear:both;
   }
   .search-result li .left h3 span {
	   	display: inline-block;
	   	width:3.333333rem;
	   	height:1.5rem;
	   	line-height: 1.5rem;
	   	background:#F9E9D6;
	   	border-radius: 0.75rem;
	   	text-align: center;
	   	font-size: 1rem;
	   	color: #FF6A30;
	   	margin-right: 0.5rem;
	   	float:left;
   }
   .search-result li .left h3 img {
	   	width:1.333333rem;
	   	height:1.333333rem;
	   	margin-right:0.5rem;
	   	float:left;
   	}
   
   .search-result li .left p {
	   	font-size: 1rem;
	   	line-height: 1.8rem;
	   	color: #999;
	   	overflow: hidden;  
	    white-space: nowrap;  
	    text-overflow: ellipsis;  
	    clear:both;
   	}
   
   .search-result li .left p span {
   		display: inline-block;
   	}
   .search-result li .left p span {
   		margin-right: 1rem;
   	}
    .search-result li .left p span em{
	   color:#FF6A30 ;
	   font-size: 1rem;
   	
   	}
   
   .search-result li .left p:last-child {
   		color: #22C41E;
   	}
   
   .search-result .right {
   		display: block;
	   	width: 4.625rem;
	   	height:5rem;
	   	overflow: hidden;
	   	position: absolute;
	   	right:2.5rem;
	   	top:50%;
	   	margin-top:-2.916666rem;
	   	text-align: center;
   }
   .search-result .right a {
   		display: block;
   		text-align: center;
   }
   
   .search-result .right img {
	   	position: absolute;
	   	top: 50%;
	   /*	right: 1rem;*/
	   	margin-top: -0.708333rem;
	   	width: 1.208333rem;
	   	height: 1.416666rem;
	   	z-index: 999;
   }
   
   
 
.banner-wrap {
	width:100%;
	height:5rem;
	position: absolute;
	top:9rem;
	left:0;
	z-index: 9999;
}
.banner-wrap a {
	display: block;
	width:29.25rem;
	height:5rem;
	margin: 0 auto;
	text-align: center;
}
.banner-wrap a img {
	width:100%;
	height:100%;
}
